<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/register.css">
</head>
<body>
    <header>
        <main>
            <div class="form">
                <div class="formContent">
                    
                    <input id="email" type="text" placeholder="Email">
                    <input id="senha" type="text" placeholder="password">
                    <button onclick="login()">Login</button>
                </div>
               
            </div>
        </main>
    </header>
    <script src="./scripts/script.js"></script>
</body>
</html>